{% block doc -%}
<!DOCTYPE html>
<html lang="zh-CN">

{% block head %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="warehouse">
    <meta name="author" content="cynic">
    <link rel="icon" href="{{url_for('static', filename='favicon.png')}}">

    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block styles %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    {%- endblock styles %}
    {%- endblock head %}
</head>

<body>
    {% block body %}
    {% block navbar %}
    {% include 'header.html' %}
    {% endblock navbar %}
    {% block content %}
    {%- endblock content %}


    {% block scripts %}
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    {%- endblock scripts %}
    {%- endblock body %}
</body>

</html>
{% endblock doc -%}